/* desktop.css */

.content-top,
.content-bottom {
    height: 50vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-top {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    scroll-snap-align: start;
}

.content-bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    scroll-snap-align: end;
}

.content-top h2 {
    padding-top: 15vh;
}

.buttons-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10vw;
    align-self: flex-end;
    scroll-snap-align: end;
    padding-bottom: 2.5vh;
}

.btn-lg {
    font-size: clamp(1.5vh, 1.5vw, 2.5vh);
    padding: clamp(1vh, 1vh, 2vh) clamp(3vw, 3vw, 5vw);
}

.footer {
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    text-align: center;
}

.footer #map-placeholder {
    width: 100%;
    height: 50%;
    background-color: #ddd;
    line-height: 50vh;
    font-size: 24px;
    color: #333;
}

.legal-text {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-links {
    margin-top: auto;
}