.navbar {
    transition: background-color 0.3s ease;
}

.dropdown-content {
    display: block;
    position: fixed;
    height: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s ease;
    opacity: 0;
}

.dropdown-content.show {
    height: 30vh;
    opacity: 1;
}