/*
    TODO: Tidy up it, because not everyting here is desktop only.
*/

.navbar {
    transition: background-color 0.3s ease;
}

.dropdown-content {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    max-height: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    flex-wrap: wrap;
    padding: 1vh 2vw;
    overflow: hidden;
}

.dropdown-content.show {
    max-height: 100vh;
    opacity: 1;
}

.dropdown-content a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    margin: auto 1vw;
    text-decoration: none;
    color: slategray;
}

.dropdown-content a:hover {
    color: black;
}

.image-label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 20vh;
}

.image-label-container img {
    display: block;
    height: 80%;
}

.image-label-container p {
    margin: 1vh 0;
    text-align: center;
}