@media (max-width: 768px) {
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: flex;
    }

    .navbar-mobile button,
    .navbar-mobile button:hover {
        color: lightgray;
    }

}