.search-section {
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 15vh 5vw;
    padding-bottom: 0;
}

.search-section>.row {
    height: 100%;
}

.search-section .search-bar {
    height: auto;
}

.search-filters,
.search-results {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.search-results>.row {
    overflow-y: scroll;
}

.search-results>.row>div .card-img-top {
    height: 27.5vh;
    background-color: #24242424;
}

.search-filters .form-range {
    width: 100%;
}

@media (max-width: 767.98px),
(max-width: 991.98px) and (orientation: landscape) {
    .search-section {
        height: 200vh;
    }

    .search-filters {
        align-items: center;
    }

    .search-results {
        height: 100vh;
        padding: 10vh 0 0 0;
        align-self: flex-end;
    }
}

@media (max-width: 991.98px) and (orientation: landscape) {
    .search-filters {
        max-width: 100%;
        width: 100%;
        flex: 1 1 auto;
        align-items: center;
    }

    .search-filters .list-group {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 0.5vh;
    }

    .search-filters .list-group-item {
        margin: 0.5vh;
        align-items: center;
        border-top-width: 1px;
        border-radius: inherit;
    }

    .search-filters .form-range {
        width: 50%;
    }

    .search-results {
        padding-top: 18vh;
    }
}