.search-section {
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 15vh 5vw;
    padding-bottom: 0;
}

.search-section>.row {
    height: 100%;
}

.search-section .search-bar {
    height: auto;
}

.search-filters,
.search-results {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.search-results>.row {
    overflow-y: scroll;
}

.search-results>.row>div .card-img-top {
    height: 27.5vh;
    background-color: #24242424;
}

@media (max-width: 767.98px) {
    .search-section {
        height: 200vh;
    }

    .search-filters {
        align-items: flex-start;
    }

    .search-results {
        height: 100vh;
        padding: 10vh 0 0 0;
        align-self: flex-end;
    }
}